USE [master]
GO
/****** Object:  Database [FootballDB]    Script Date: 18/11/2025 22:11:54 ******/
CREATE DATABASE [FootballDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FootballDB', FILENAME = N'/var/opt/mssql/data/FootballDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FootballDB_log', FILENAME = N'/var/opt/mssql/data/FootballDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FootballDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FootballDB]
GO
/****** Object:  User [db_editor]    Script Date: 18/11/2025 22:11:54 ******/
CREATE USER [db_editor] FOR LOGIN [db_editor] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [db_analyst]    Script Date: 18/11/2025 22:11:54 ******/
CREATE USER [db_analyst] FOR LOGIN [db_analyst] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [db_admin]    Script Date: 18/11/2025 22:11:54 ******/
CREATE USER [db_admin] FOR LOGIN [db_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [db_admin]
GO
/****** Object:  Schema [Transfers]    Script Date: 18/11/2025 22:11:54 ******/
CREATE SCHEMA [Transfers]
GO
/****** Object:  Table [Transfers].[CLUBS]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[CLUBS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[country_id] [int] NOT NULL,
	[city] [nvarchar](100) NULL,
	[league_id] [int] NULL,
	[coach_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Transfers].[TRANSFERS]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[TRANSFERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[player_id] [int] NOT NULL,
	[from_club_id] [int] NULL,
	[to_club_id] [int] NULL,
	[transfer_date] [date] NOT NULL,
	[fee] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [Transfers].[fn_GetClubHistoricalBalanceSheet]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [Transfers].[fn_GetClubHistoricalBalanceSheet] (
    @club_id INT
)
RETURNS TABLE
AS
RETURN
(
    WITH SeasonTransfers AS (
        SELECT 
            fee,
            from_club_id,
            to_club_id,
            (CASE 
                WHEN MONTH(transfer_date) >= 7 THEN YEAR(transfer_date) 
                ELSE YEAR(transfer_date) - 1 
            END) AS SeasonStartYear
        FROM 
            Transfers.TRANSFERS
        WHERE
            (from_club_id = @club_id OR to_club_id = @club_id)
            AND fee IS NOT NULL AND fee != 0 
    ),
    
    GroupedBalance AS (
        SELECT
            SeasonStartYear,
            ISNULL(SUM(CASE WHEN to_club_id = @club_id THEN fee ELSE 0 END), 0) AS MoneySpent,
            ISNULL(SUM(CASE WHEN from_club_id = @club_id THEN fee ELSE 0 END), 0) AS MoneyReceived
        FROM
            SeasonTransfers
        GROUP BY 
            SeasonStartYear 
    )
    
    SELECT 
        c.name AS ClubName,
        CAST(gb.SeasonStartYear AS NVARCHAR(4)) + '/' + CAST((gb.SeasonStartYear + 1) AS NVARCHAR(4)) AS Season,
        gb.MoneySpent,
        gb.MoneyReceived,
        (gb.MoneyReceived - gb.MoneySpent) AS NetBalance
    FROM 
        GroupedBalance AS gb
    CROSS JOIN 
        Transfers.CLUBS AS c
    WHERE
        c.id = @club_id
);

GO
/****** Object:  Table [Transfers].[PLAYERS]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[PLAYERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[nationality_id] [int] NOT NULL,
	[birth_date] [date] NULL,
	[position_id] [int] NOT NULL,
	[height] [decimal](3, 2) NULL,
	[preferred_foot_id] [int] NOT NULL,
	[current_club_id] [int] NULL,
	[market_value] [int] NULL,
	[effective_date] [date] NOT NULL,
	[current_flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Transfers].[POSITIONS]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[POSITIONS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [Transfers].[fn_GetPlayersByClub]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [Transfers].[fn_GetPlayersByClub] (@club_id INT)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        p.id AS player_id,
        p.first_name,
        p.last_name,
        pos.name AS position_name,
        p.birth_date,
        p.market_value
    FROM 
        Transfers.PLAYERS AS p
    JOIN 
        Transfers.POSITIONS AS pos ON p.position_id = pos.id
    WHERE 
        p.current_club_id = @club_id
        AND p.current_flag = 1
);

GO
/****** Object:  UserDefinedFunction [Transfers].[fn_SearchPlayersByLastName]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [Transfers].[fn_SearchPlayersByLastName] (@last_name_pattern NVARCHAR(100))
RETURNS TABLE
AS
RETURN
(
    SELECT 
        p.id AS player_id,
        p.first_name,
        p.last_name,
        p.birth_date,
        c.name AS club_name,
        pos.name AS position_name
    FROM 
        Transfers.PLAYERS AS p
    LEFT JOIN 
        Transfers.CLUBS AS c ON p.current_club_id = c.id
    LEFT JOIN 
        Transfers.POSITIONS AS pos ON p.position_id = pos.id
    WHERE 
        p.last_name LIKE @last_name_pattern + '%'
);

GO
/****** Object:  Table [Transfers].[LEAGUES]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[LEAGUES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[country_id] [int] NOT NULL,
	[level] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Transfers].[LEAGUESEASONS]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[LEAGUESEASONS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[league_id] [int] NOT NULL,
	[season_year] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Transfers].[STATS]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[STATS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[player_id] [int] NOT NULL,
	[league_season_id] [int] NOT NULL,
	[club_id] [int] NOT NULL,
	[appearances] [int] NULL,
	[minutes_played] [int] NULL,
	[goals] [int] NULL,
	[assists] [int] NULL,
	[yellow_cards] [int] NULL,
	[red_cards] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [Transfers].[fn_GetPlayerStatsBySeason]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [Transfers].[fn_GetPlayerStatsBySeason] (@player_id INT)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        ls.season_year,
        l.name AS league_name,
        c.name AS club_name,
        s.appearances,
        s.minutes_played,
        s.goals,
        s.assists,
        s.yellow_cards,
        s.red_cards
    FROM 
        Transfers.STATS AS s
    JOIN 
        Transfers.LEAGUESEASONS AS ls ON s.league_season_id = ls.id
    JOIN 
        Transfers.LEAGUES AS l ON ls.league_id = l.id
    JOIN 
        Transfers.CLUBS AS c ON s.club_id = c.id
    WHERE 
        s.player_id = @player_id
);

GO
/****** Object:  Table [Transfers].[AWARDS]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[AWARDS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Transfers].[PLAYER_AWARDS]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[PLAYER_AWARDS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[player_id] [int] NOT NULL,
	[award_id] [int] NOT NULL,
	[season_year] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [Transfers].[fn_GetPlayerAwards]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [Transfers].[fn_GetPlayerAwards] (@player_id INT)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        pa.season_year,
        a.name AS award_name,
        a.description
    FROM 
        Transfers.PLAYER_AWARDS AS pa
    JOIN 
        Transfers.AWARDS AS a ON pa.award_id = a.id
    WHERE 
        pa.player_id = @player_id
);

GO
/****** Object:  Table [Transfers].[COACHES]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[COACHES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[nationality_id] [int] NOT NULL,
	[birth_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [Transfers].[fn_GetClubsByLeague]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [Transfers].[fn_GetClubsByLeague] (@league_id INT)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        c.id AS club_id,
        c.name AS club_name,
        c.city,
        ISNULL(co.first_name + ' ' + co.last_name, 'Brak trenera') AS coach_name
    FROM 
        Transfers.CLUBS AS c
    LEFT JOIN 
        Transfers.COACHES AS co ON c.coach_id = co.id
    WHERE 
        c.league_id = @league_id
);

GO
/****** Object:  Table [Transfers].[PREFFERED_FOOT]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[PREFFERED_FOOT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Transfers].[NATIONALITIES]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[NATIONALITIES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Transfers].[v_Current_Players_Details]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- szczegóły zawodników
CREATE VIEW [Transfers].[v_Current_Players_Details] AS
SELECT
    P.id AS Player_ID,
    P.first_name AS First_Name,
    P.last_name AS Last_Name,
    N.name AS Nationality,
    C.name AS Current_Club,
    POS.name AS Position,
    PF.name AS Preferred_Foot,
    P.height AS Height_Meters,
    P.market_value AS Market_Value,
    P.effective_date AS Value_Effective_Date
FROM
    Transfers.PLAYERS AS P
INNER JOIN
    Transfers.NATIONALITIES AS N ON P.nationality_id = N.id
INNER JOIN
    Transfers.POSITIONS AS POS ON P.position_id = POS.id
INNER JOIN
    Transfers.PREFFERED_FOOT AS PF ON P.preferred_foot_id = PF.id
LEFT JOIN
    Transfers.CLUBS AS C ON P.current_club_id = C.id
WHERE
    P.current_flag = 1;

GO
/****** Object:  View [Transfers].[v_Club_League_Coach_Details]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- szczegóły klubów
CREATE VIEW [Transfers].[v_Club_League_Coach_Details] AS
SELECT
    CL.id AS Club_ID,
    CL.name AS Club_Name,
    N.name AS Country,
    CL.city AS City,
    L.name AS League_Name,
    L.level AS League_Level,
    C.first_name AS Coach_First_Name,
    C.last_name AS Coach_Last_Name
FROM
    Transfers.CLUBS AS CL
INNER JOIN
    Transfers.NATIONALITIES AS N ON CL.country_id = N.id
LEFT JOIN
    Transfers.LEAGUES AS L ON CL.league_id = L.id
LEFT JOIN
    Transfers.COACHES AS C ON CL.coach_id = C.id;

GO
/****** Object:  View [Transfers].[v_Transfer_History]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- szczegóły transferów
CREATE VIEW [Transfers].[v_Transfer_History] AS
SELECT
    T.id AS Transfer_ID,
    T.transfer_date AS Transfer_Date,
    T.fee AS Transfer_Fee,
    P.first_name AS Player_First_Name,
    P.last_name AS Player_Last_Name,
    Club_From.name AS From_Club,
    Club_To.name AS To_Club
FROM
    Transfers.TRANSFERS AS T
INNER JOIN
    Transfers.PLAYERS AS P ON T.player_id = P.id
LEFT JOIN
    Transfers.CLUBS AS Club_From ON T.from_club_id = Club_From.id
LEFT JOIN
    Transfers.CLUBS AS Club_To ON T.to_club_id = Club_To.id;

GO
/****** Object:  View [Transfers].[v_Player_Season_Stats]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- statystyki zawodników w sezonie 
CREATE VIEW [Transfers].[v_Player_Season_Stats] AS
SELECT
    S.id AS Stat_ID,
    P.first_name AS Player_First_Name,
    P.last_name AS Player_Last_Name,
    C.name AS Club_Name,
    LS.season_year AS Season_Year,
    S.appearances AS Appearances,
    S.minutes_played AS Minutes_Played,
    S.goals AS Goals,
    S.assists AS Assists,
    S.yellow_cards AS Yellow_Cards,
    S.red_cards AS Red_Cards
FROM
    Transfers.STATS AS S
INNER JOIN
    Transfers.PLAYERS AS P ON S.player_id = P.id
INNER JOIN
    Transfers.CLUBS AS C ON S.club_id = C.id
INNER JOIN
    Transfers.LEAGUESEASONS AS LS ON S.league_season_id = LS.id;

GO
/****** Object:  Table [Transfers].[AGENTS]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[AGENTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[company] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Transfers].[PLAYER_AGENTS]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Transfers].[PLAYER_AGENTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[player_id] [int] NOT NULL,
	[agent_id] [int] NOT NULL,
	[contract_start_date] [date] NOT NULL,
	[contract_end_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Transfers].[v_Current_Player_Agents]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- aktualni agenci zawodników
CREATE VIEW [Transfers].[v_Current_Player_Agents] AS
SELECT
    P.first_name AS Player_First_Name,
    P.last_name AS Player_Last_Name,
    A.first_name AS Agent_First_Name,
    A.last_name AS Agent_Last_Name,
    A.company AS Agent_Company,
    PA.contract_start_date AS Contract_Start
FROM
    Transfers.PLAYER_AGENTS AS PA
INNER JOIN
    Transfers.PLAYERS AS P ON PA.player_id = P.id
INNER JOIN
    Transfers.AGENTS AS A ON PA.agent_id = A.id
WHERE
    PA.contract_end_date IS NULL
    OR PA.contract_end_date >= GETDATE();

GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Agents_last_name]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Agents_last_name] ON [Transfers].[AGENTS]
(
	[last_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Agents_last_name_first_name]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Agents_last_name_first_name] ON [Transfers].[AGENTS]
(
	[last_name] ASC,
	[first_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clubs_coach_id]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Clubs_coach_id] ON [Transfers].[CLUBS]
(
	[coach_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clubs_league_id]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Clubs_league_id] ON [Transfers].[CLUBS]
(
	[league_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clubs_name]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Clubs_name] ON [Transfers].[CLUBS]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Coaches_last_name]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Coaches_last_name] ON [Transfers].[COACHES]
(
	[last_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Coaches_last_name_first_name]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Coaches_last_name_first_name] ON [Transfers].[COACHES]
(
	[last_name] ASC,
	[first_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeagueSeasons_league_id]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_LeagueSeasons_league_id] ON [Transfers].[LEAGUESEASONS]
(
	[league_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlayerAgents_agent_id]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_PlayerAgents_agent_id] ON [Transfers].[PLAYER_AGENTS]
(
	[agent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlayerAgents_player_id]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_PlayerAgents_player_id] ON [Transfers].[PLAYER_AGENTS]
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlayerAwards_award_id]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_PlayerAwards_award_id] ON [Transfers].[PLAYER_AWARDS]
(
	[award_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlayerAwards_player_id]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_PlayerAwards_player_id] ON [Transfers].[PLAYER_AWARDS]
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Players_current_club_id]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Players_current_club_id] ON [Transfers].[PLAYERS]
(
	[current_club_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Players_last_name]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Players_last_name] ON [Transfers].[PLAYERS]
(
	[last_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Players_last_name_first_name]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Players_last_name_first_name] ON [Transfers].[PLAYERS]
(
	[last_name] ASC,
	[first_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Players_market_value]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Players_market_value] ON [Transfers].[PLAYERS]
(
	[market_value] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Statistics_league_season_id]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Statistics_league_season_id] ON [Transfers].[STATS]
(
	[league_season_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Statistics_player_id]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Statistics_player_id] ON [Transfers].[STATS]
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transfers_player_id]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Transfers_player_id] ON [Transfers].[TRANSFERS]
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transfers_transfer_date]    Script Date: 18/11/2025 22:11:54 ******/
CREATE NONCLUSTERED INDEX [IX_Transfers_transfer_date] ON [Transfers].[TRANSFERS]
(
	[transfer_date] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Transfers].[STATS] ADD  DEFAULT ((0)) FOR [appearances]
GO
ALTER TABLE [Transfers].[STATS] ADD  DEFAULT ((0)) FOR [minutes_played]
GO
ALTER TABLE [Transfers].[STATS] ADD  DEFAULT ((0)) FOR [goals]
GO
ALTER TABLE [Transfers].[STATS] ADD  DEFAULT ((0)) FOR [assists]
GO
ALTER TABLE [Transfers].[STATS] ADD  DEFAULT ((0)) FOR [yellow_cards]
GO
ALTER TABLE [Transfers].[STATS] ADD  DEFAULT ((0)) FOR [red_cards]
GO
ALTER TABLE [Transfers].[CLUBS]  WITH CHECK ADD  CONSTRAINT [FK_Clubs_Coaches] FOREIGN KEY([coach_id])
REFERENCES [Transfers].[COACHES] ([id])
GO
ALTER TABLE [Transfers].[CLUBS] CHECK CONSTRAINT [FK_Clubs_Coaches]
GO
ALTER TABLE [Transfers].[CLUBS]  WITH CHECK ADD  CONSTRAINT [FK_Clubs_Leagues] FOREIGN KEY([league_id])
REFERENCES [Transfers].[LEAGUES] ([id])
GO
ALTER TABLE [Transfers].[CLUBS] CHECK CONSTRAINT [FK_Clubs_Leagues]
GO
ALTER TABLE [Transfers].[CLUBS]  WITH CHECK ADD  CONSTRAINT [FK_Clubs_Nationalities] FOREIGN KEY([country_id])
REFERENCES [Transfers].[NATIONALITIES] ([id])
GO
ALTER TABLE [Transfers].[CLUBS] CHECK CONSTRAINT [FK_Clubs_Nationalities]
GO
ALTER TABLE [Transfers].[COACHES]  WITH CHECK ADD  CONSTRAINT [FK_Coaches_Nationalities] FOREIGN KEY([nationality_id])
REFERENCES [Transfers].[NATIONALITIES] ([id])
GO
ALTER TABLE [Transfers].[COACHES] CHECK CONSTRAINT [FK_Coaches_Nationalities]
GO
ALTER TABLE [Transfers].[LEAGUES]  WITH CHECK ADD  CONSTRAINT [FK_Leagues_Nationalities] FOREIGN KEY([country_id])
REFERENCES [Transfers].[NATIONALITIES] ([id])
GO
ALTER TABLE [Transfers].[LEAGUES] CHECK CONSTRAINT [FK_Leagues_Nationalities]
GO
ALTER TABLE [Transfers].[LEAGUESEASONS]  WITH CHECK ADD  CONSTRAINT [FK_LeagueSeasons_Leagues] FOREIGN KEY([league_id])
REFERENCES [Transfers].[LEAGUES] ([id])
GO
ALTER TABLE [Transfers].[LEAGUESEASONS] CHECK CONSTRAINT [FK_LeagueSeasons_Leagues]
GO
ALTER TABLE [Transfers].[PLAYER_AGENTS]  WITH CHECK ADD  CONSTRAINT [FK_PlayerAgents_Agents] FOREIGN KEY([agent_id])
REFERENCES [Transfers].[AGENTS] ([id])
GO
ALTER TABLE [Transfers].[PLAYER_AGENTS] CHECK CONSTRAINT [FK_PlayerAgents_Agents]
GO
ALTER TABLE [Transfers].[PLAYER_AGENTS]  WITH CHECK ADD  CONSTRAINT [FK_PlayerAgents_Players] FOREIGN KEY([player_id])
REFERENCES [Transfers].[PLAYERS] ([id])
GO
ALTER TABLE [Transfers].[PLAYER_AGENTS] CHECK CONSTRAINT [FK_PlayerAgents_Players]
GO
ALTER TABLE [Transfers].[PLAYER_AWARDS]  WITH CHECK ADD  CONSTRAINT [FK_PlayerAwards_Awards] FOREIGN KEY([award_id])
REFERENCES [Transfers].[AWARDS] ([id])
GO
ALTER TABLE [Transfers].[PLAYER_AWARDS] CHECK CONSTRAINT [FK_PlayerAwards_Awards]
GO
ALTER TABLE [Transfers].[PLAYER_AWARDS]  WITH CHECK ADD  CONSTRAINT [FK_PlayerAwards_Players] FOREIGN KEY([player_id])
REFERENCES [Transfers].[PLAYERS] ([id])
GO
ALTER TABLE [Transfers].[PLAYER_AWARDS] CHECK CONSTRAINT [FK_PlayerAwards_Players]
GO
ALTER TABLE [Transfers].[PLAYERS]  WITH CHECK ADD  CONSTRAINT [FK_Players_Clubs] FOREIGN KEY([current_club_id])
REFERENCES [Transfers].[CLUBS] ([id])
GO
ALTER TABLE [Transfers].[PLAYERS] CHECK CONSTRAINT [FK_Players_Clubs]
GO
ALTER TABLE [Transfers].[PLAYERS]  WITH CHECK ADD  CONSTRAINT [FK_Players_Nationalities] FOREIGN KEY([nationality_id])
REFERENCES [Transfers].[NATIONALITIES] ([id])
GO
ALTER TABLE [Transfers].[PLAYERS] CHECK CONSTRAINT [FK_Players_Nationalities]
GO
ALTER TABLE [Transfers].[PLAYERS]  WITH CHECK ADD  CONSTRAINT [FK_Players_Positions] FOREIGN KEY([position_id])
REFERENCES [Transfers].[POSITIONS] ([id])
GO
ALTER TABLE [Transfers].[PLAYERS] CHECK CONSTRAINT [FK_Players_Positions]
GO
ALTER TABLE [Transfers].[PLAYERS]  WITH CHECK ADD  CONSTRAINT [FK_Players_PreferredFoot] FOREIGN KEY([preferred_foot_id])
REFERENCES [Transfers].[PREFFERED_FOOT] ([id])
GO
ALTER TABLE [Transfers].[PLAYERS] CHECK CONSTRAINT [FK_Players_PreferredFoot]
GO
ALTER TABLE [Transfers].[STATS]  WITH CHECK ADD  CONSTRAINT [FK_Statistics_Clubs] FOREIGN KEY([club_id])
REFERENCES [Transfers].[CLUBS] ([id])
GO
ALTER TABLE [Transfers].[STATS] CHECK CONSTRAINT [FK_Statistics_Clubs]
GO
ALTER TABLE [Transfers].[STATS]  WITH CHECK ADD  CONSTRAINT [FK_Statistics_LeagueSeasons] FOREIGN KEY([league_season_id])
REFERENCES [Transfers].[LEAGUESEASONS] ([id])
GO
ALTER TABLE [Transfers].[STATS] CHECK CONSTRAINT [FK_Statistics_LeagueSeasons]
GO
ALTER TABLE [Transfers].[STATS]  WITH CHECK ADD  CONSTRAINT [FK_Statistics_Players] FOREIGN KEY([player_id])
REFERENCES [Transfers].[PLAYERS] ([id])
GO
ALTER TABLE [Transfers].[STATS] CHECK CONSTRAINT [FK_Statistics_Players]
GO
ALTER TABLE [Transfers].[TRANSFERS]  WITH CHECK ADD  CONSTRAINT [FK_Transfers_FromClub] FOREIGN KEY([from_club_id])
REFERENCES [Transfers].[CLUBS] ([id])
GO
ALTER TABLE [Transfers].[TRANSFERS] CHECK CONSTRAINT [FK_Transfers_FromClub]
GO
ALTER TABLE [Transfers].[TRANSFERS]  WITH CHECK ADD  CONSTRAINT [FK_Transfers_Players] FOREIGN KEY([player_id])
REFERENCES [Transfers].[PLAYERS] ([id])
GO
ALTER TABLE [Transfers].[TRANSFERS] CHECK CONSTRAINT [FK_Transfers_Players]
GO
ALTER TABLE [Transfers].[TRANSFERS]  WITH CHECK ADD  CONSTRAINT [FK_Transfers_ToClub] FOREIGN KEY([to_club_id])
REFERENCES [Transfers].[CLUBS] ([id])
GO
ALTER TABLE [Transfers].[TRANSFERS] CHECK CONSTRAINT [FK_Transfers_ToClub]
GO
/****** Object:  StoredProcedure [Transfers].[sp_EndSeason]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Transfers].[sp_EndSeason]
    @league_id INT,
    @season_year INT,
    @winning_club_id INT,
    @champion_award_name NVARCHAR(150),
    @top_scorer_award_name NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @league_season_id INT;
    DECLARE @champion_award_id INT;
    DECLARE @top_scorer_award_id INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        SELECT @league_season_id = id
        FROM Transfers.LEAGUESEASONS
        WHERE league_id = @league_id AND season_year = @season_year;

        IF @league_season_id IS NULL
        BEGIN
            RAISERROR('Could not find the league season!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN -1;
        END;

        IF NOT EXISTS (SELECT 1 FROM Transfers.CLUBS WHERE id = @winning_club_id)
        BEGIN
            RAISERROR('Could not find the winning club.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN -1;
        END;

        -- tworzenie nagród
        SELECT @champion_award_id = id
        FROM Transfers.AWARDS
        WHERE name = @champion_award_name;

        IF @champion_award_id IS NULL
        BEGIN
            INSERT INTO Transfers.AWARDS (name, description)
            VALUES (@champion_award_name, 'League winning award.');
            
            SET @champion_award_id = SCOPE_IDENTITY();
            PRINT 'Created a new award: ' + @champion_award_name;
        END;

        SELECT @top_scorer_award_id = id
        FROM Transfers.AWARDS
        WHERE name = @top_scorer_award_name;

        IF @top_scorer_award_id IS NULL
        BEGIN
            INSERT INTO Transfers.AWARDS (name, description)
            VALUES (@top_scorer_award_name, 'Best scorer award.');
            
            SET @top_scorer_award_id = SCOPE_IDENTITY();
            PRINT 'Created a new award: ' + @top_scorer_award_name;
        END;

        -- mistrzostwo kraju
        INSERT INTO Transfers.PLAYER_AWARDS (player_id, award_id, season_year)
        SELECT DISTINCT
            s.player_id,
            @champion_award_id, 
            @season_year
        FROM
            Transfers.STATS s
        WHERE
            s.league_season_id = @league_season_id
            AND s.club_id = @winning_club_id
            AND s.appearances > 0

        -- król strzelców
        INSERT INTO Transfers.PLAYER_AWARDS (player_id, award_id, season_year)
        SELECT
            player_id,
            @top_scorer_award_id,
            @season_year
        FROM
        (
            SELECT
                player_id,
                DENSE_RANK() OVER (ORDER BY goals DESC) as goal_rank
            FROM
                Transfers.STATS
            WHERE
                league_season_id = @league_season_id
                AND goals > 0
        ) AS RankedScorers
        WHERE
            goal_rank = 1

        COMMIT TRANSACTION;

        PRINT 'Success. Awards granted.';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        PRINT 'Error. Transaction has been rollbacked';
    END CATCH
END

GO
/****** Object:  StoredProcedure [Transfers].[sp_ExecutePlayerTransfer]    Script Date: 18/11/2025 22:11:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Transfers].[sp_ExecutePlayerTransfer]
    @player_id INT,
    @from_club_id INT,
    @to_club_id INT,
    @fee DECIMAL(18, 2),
    @transfer_date DATE
AS
BEGIN
    SET NOCOUNT ON;


    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM Transfers.PLAYERS WHERE id = @player_id)
        BEGIN
            RAISERROR('Error: Player with the specified ID does not exist.', 16, 1);
            RETURN; 
        END

        IF @from_club_id IS NOT NULL AND NOT EXISTS (SELECT 1 FROM Transfers.CLUBS WHERE id = @from_club_id)
        BEGIN
            RAISERROR('Error: The "From" club (from_club_id) does not exist.', 16, 1);
            RETURN;
        END

        IF @to_club_id IS NOT NULL AND NOT EXISTS (SELECT 1 FROM Transfers.CLUBS WHERE id = @to_club_id)
        BEGIN
            RAISERROR('Error: The "To" club (to_club_id) does not exist.', 16, 1);
            RETURN;
        END
        
        IF @from_club_id = @to_club_id
        BEGIN
            RAISERROR('Error: Cannot execute a transfer to the same club.', 16, 1);
            RETURN;
        END

        DECLARE @current_club_id INT;
        SELECT @current_club_id = current_club_id 
        FROM Transfers.PLAYERS 
        WHERE id = @player_id;

        IF ISNULL(@current_club_id, 0) != ISNULL(@from_club_id, 0)
        BEGIN
            RAISERROR('Error: Player is not currently assigned to the specified "From" club (from_club_id).', 16, 1);
            RETURN;
        END

        INSERT INTO Transfers.TRANSFERS
            (player_id, from_club_id, to_club_id, transfer_date, fee)
        VALUES
            (@player_id, @from_club_id, @to_club_id, @transfer_date, @fee);

        UPDATE Transfers.PLAYERS
        SET 
            current_club_id = @to_club_id
        WHERE 
            id = @player_id;

        COMMIT TRANSACTION;
        
        PRINT 'Transfer executed successfully.';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
            PRINT 'Error: Transaction was rolled back.';
        END

    END CATCH
END;

GO
USE [master]
GO
